<tr class="actor-header">
    <th id="column-img" class="actor-cell-img"></th>
    <th id="column-name" class="actor-cell-name" data-sort-id="name">{{{localize "ACTOR_BROWSER.Name"}}}</th>
    <th id="column-level" class="actor-cell-attr" data-sort-id="level">{{{localize "ACTOR_BROWSER.Level"}}}</th>
    <th id="column-traits" class="actor-cell-pf2etraits">{{{localize "ACTOR_BROWSER.Traits"}}}</th>
    <th id="column-size" class="actor-cell-dndsize" data-sort-id="size">{{{localize "ACTOR_BROWSER.Size"}}}</th>
</tr>
{{#each actors}}
<tr class="actor-option{{#if (and ../selectedActor (eq ../selectedActor uuid))}} selected{{/if}}" data-actor-id="{{uuid}}">
    <td class="actor-cell-img">
        <img src="{{img.display}}" alt="{{name.display}}" loading="lazy" class="actor-row-img">
    </td>
    <td class="actor-cell-name">
        <p class="actor-row-text">{{name.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{level.display}}</p>
    </td>
    <td class="actor-cell-pf2etraits">
        <p class="actor-row-text">{{traits.display}}</p>
    </td>
    <td class="actor-cell-dndsize">
        <p class="actor-row-text">{{size.display}}</p>
    </td>
</tr>
{{/each}}