<tr class="actor-header">
    <th id="column-img" class="actor-cell-img"></th>
    <th id="column-name" class="actor-cell-name" data-sort-id="name">{{{localize "ACTOR_BROWSER.Name"}}}</th>
    <th id="column-cr" class="actor-cell-attr" data-sort-id="cr">{{{localize "ACTOR_BROWSER.CR"}}}</th>
    <th id="column-type" class="actor-cell-dndtype" data-sort-id="type">{{{localize "ACTOR_BROWSER.Type"}}}</th>
    <th id="column-size" class="actor-cell-dndsize" data-sort-id="size">{{{localize "ACTOR_BROWSER.Size"}}}</th>
    <th id="column-alignment" class="actor-cell-dndalignment" data-sort-id="alignment">{{{localize "ACTOR_BROWSER.Alignment"}}}</th>
</tr>
{{#each actors}}
<tr class="actor-option{{#if (and ../selectedActor (eq ../selectedActor uuid))}} selected{{/if}}" data-actor-id="{{uuid}}">
    <td class="actor-cell-img">
        <img src="{{img.display}}" alt="{{name.display}}" loading="lazy" class="actor-row-img">
    </td>
    <td class="actor-cell-name">
        <p class="actor-row-text">{{name.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{cr.display}}</p>
    </td>
    <td class="actor-cell-dndtype">
        <p class="actor-row-text">{{type.display}}</p>
    </td>
    <td class="actor-cell-dndsize">
        <p class="actor-row-text">{{size.display}}</p>
    </td>
    <td class="actor-cell-dndalignment">
        <p class="actor-row-text">{{alignment.display}}</p>
    </td>
</tr>
{{/each}}