<colgroup>
    <col class="actor-cell-img" />
    <col class="actor-cell-name" />
    <col /> {{!-- This combined with the colspan="2" below lets us fake a min-width on the name column --}}
    <col class="actor-cell-attr" />
    <col class="actor-cell-attr" />
    <col class="actor-cell-attr" />
    <col class="actor-cell-attr" />
    <col class="actor-cell-attr" />
    <col class="actor-cell-attr" />
</colgroup>
<tr class="actor-header">
    <th></th>
    <th colspan="2" data-sort-id="name">{{{localize "ACTOR_BROWSER.Name"}}}</th>
    <th data-sort-id="size">{{{localize "ACTOR_BROWSER.Size"}}}</th>
    <th data-sort-id="agi">{{{localize "ACTOR_BROWSER.Agi"}}}</th>
    <th data-sort-id="sma">{{{localize "ACTOR_BROWSER.Sma"}}}</th>
    <th data-sort-id="spi">{{{localize "ACTOR_BROWSER.Spi"}}}</th>
    <th data-sort-id="str">{{{localize "ACTOR_BROWSER.Str"}}}</th>
    <th data-sort-id="vig">{{{localize "ACTOR_BROWSER.Vig"}}}</th>
</tr>
{{#each actors}}
<tr class="actor-option{{#if (and ../selectedActor (eq ../selectedActor uuid))}} selected{{/if}}" data-actor-id="{{uuid}}" data-tooltip="{{tooltip}}">
    <td class="actor-cell-img">
        <img src="{{img.display}}" alt="{{name.display}}" loading="lazy" class="actor-row-img">
    </td>
    <td class="actor-cell-name" colspan="2">
        <p class="actor-row-text">{{name.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{size.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{agi.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{sma.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{spi.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{str.display}}</p>
    </td>
    <td class="actor-cell-attr">
        <p class="actor-row-text">{{vig.display}}</p>
    </td>
</tr>
{{/each}}